@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-default: oklch(0.97 0.02 264.29);

  --color-foreground: oklch(37.3% 0.034 259.733);
  --color-foreground-dark: oklch(21% 0.034 264.665);
  --color-foreground-light: oklch(55.1% 0.027 264.364);
  --color-foreground-extralight: oklch(87.2% 0.01 258.338);

  --color-primary: oklch(70.7% 0.165 254.624);
  --color-primary-dark: oklch(54.6% 0.245 262.881);
  --color-primary-light: oklch(80.9% 0.105 251.813);
  --color-primary-extralight: oklch(93.2% 0.032 255.585);

  --color-secondary: oklch(58.5% 0.233 277.117);
  --color-secondary-dark: oklch(45.7% 0.24 277.023);
  --color-secondary-light: oklch(78.5% 0.115 274.713);
  --color-secondary-extralight: oklch(93% 0.034 272.788);

  --color-variant: oklch(70.5% 0.213 47.604);
  --color-variant-dark: oklch(55.3% 0.195 38.402);
  --color-variant-light: oklch(83.7% 0.128 66.29);
  --color-variant-extralight: oklch(95.4% 0.038 75.164);

  --color-success: oklch(72.3% 0.219 149.579);
  --color-success-dark: oklch(62.7% 0.194 149.214);
  --color-success-light: oklch(87.1% 0.15 154.449);
  --color-success-extralight: oklch(0.9201 0.1382 151);

  --color-error: oklch(63.7% 0.237 25.331);
  --color-error-dark: oklch(57.7% 0.245 27.325);
  --color-error-light: oklch(80.8% 0.114 19.571);
  --color-error-extralight: oklch(0.8587 0.076456 18.7599);

  --color-warning: oklch(81.2% 0.23 91.176);
  --color-warning-dark: oklch(70.5% 0.234 89.761);
  --color-warning-light: oklch(90.3% 0.15 94.588);
  --color-warning-extralight: oklch(97.3% 0.071 103.193);

  --color-batery-icon: oklch(0.7748 0.1669 345.5);
  --color-xp-icon: oklch(85.5% 0.19 79.21);
  --color-fire-icon: oklch(75% 0.183 55.934);
  --color-diamond-icon: oklch(67.3% 0.182 276.935);
  --color-time-icon: oklch(80% 0.12 264.29);
}

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out;
  }

  .animate-fadeOut {
    animation: fadeOut 0.6s ease-in-out;
  }

  @keyframes slideUp {
    from {
      transform: translate(-50%, 100px);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slideUp 0.3s ease-out;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-pulse {
    animation: pulse 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  .animate-bounce {
    animation: bounce 2s infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes semirotate {
    from {
      transform: rotate(-15deg);
    }
    to {
      transform: rotate(15deg);
    }
  }

  .animate-semirotate {
    animation: semirotate 2s ease-in-out infinite alternate;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }

  .animate-shake {
    animation: shake 3s infinite;
  }

  @keyframes slide-up {
    from {
      transform: translateY(300px);
    }
    to {
      transform: translateY(0px);
    }
  }

  .animate-slide-up {
    animation: slide-up 0.25s;
  }
}
