@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-default: oklch(0.97 0.02 264.29);

  --color-primary: oklch(70.7% 0.165 254.624);
  --color-primary-dark: oklch(54.6% 0.245 262.881);
  --color-primary-light: oklch(80.9% 0.105 251.813);

  /*--color-secondary: oklch(0.25 0.32 264.29);
  --color-secondary-dark: oklch(0.98 0.05 261.59);
  --color-secondary-light: oklch(0.98 0.05 261.59);*/

  --color-success: oklch(72.3% 0.219 149.579);
  --color-success-dark: oklch(62.7% 0.194 149.214);
  --color-success-light: oklch(87.1% 0.15 154.449);

  --color-error: oklch(63.7% 0.237 25.331);
  --color-error-dark: oklch(57.7% 0.245 27.325);
  --color-error-light: oklch(80.8% 0.114 19.571);
}

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out;
  }

  .animate-fadeOut {
    animation: fadeOut 0.6s ease-in-out;
  }

  @keyframes slideUp {
    from {
      transform: translate(-50%, 100px);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slideUp 0.3s ease-out;
  }
}
